// Bulma & Bulma theme
@import '../../node_modules/bulmaswatch/lumen/variables';
@import '../../node_modules/bulma/bulma';
@import '../../node_modules/bulma-slider/dist/css/bulma-slider';
@import '../../node_modules/bulmaswatch/lumen/overrides';


body {
  margin: auto;
  // font-size: calc(16px + 0.5vw);
  // line-height: calc(1.1em + 0.5vw);
}

canvas {
 border: 0;
 padding: 0;
 margin: 0;
}

/* ################################### */

.card {
  background-color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.card-header-title {
  background: #EEEEEE;
}

.tag-card {
  display: flex;
  justify-content: center;
  padding: 10px 0px 0px 0px;
}

.button-group {
  display: flex;
  justify-content: center;
}

.button-group-item {
  flex-grow: 1;
}

.notification-text {
  text-align: center;
}

/* Viewport scaling for menu elements */

.button, .card-header-title, .tag, .tag:not(body), .tag-card, .notification-text {
  font-size: calc(16px + 0.5vw);
}

.button.is-large {
  font-size: calc(20px + 0.5vw);
}