
/* Menu button icon styles */

.menu-button {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  height: 10vh;
  outline: none;
}
 
.menu-button:hover {
  cursor: pointer;
}

.settings-button {
  top: 1vh;
  left: 1vw;
}

.run-button, .pause-button {
  top: 1vh;
  left: 8vh;
}

.step-button {
  top: 1vh;
  left: 15vh;
}

/* Sliding menu styles */

/* Device specific media queries */
@media (max-width: 650px) {
  .sliding-menu {
    width: 100vw;
  }
   
  .sliding-menu.hide {
    transform: translate3d(-100vw, 0, 0);
  }
}

@media (min-width: 650px) and (max-width: 1280px) {
  .sliding-menu {
    width: 50vw;
  }

   .sliding-menu.hide {
    transform: translate3d(-50vw, 0, 0);
  }
}

@media (min-width: 1280px) and (max-width: 2000px) {
  .sliding-menu {
    width: 30vw;
  }

   .sliding-menu.hide {
    transform: translate3d(-30vw, 0, 0);
  }
}

@media (min-width: 2000px) and (max-width: 8000px) {
  .sliding-menu {
    width: 20vw;
  }

   .sliding-menu.hide {
    transform: translate3d(-20vw, 0, 0);
  }
}

.sliding-menu {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  z-index: 1000;
}

.sliding-menu-container {
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
 
.sliding-menu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
.sliding-menu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
.sliding-menu h2 a:hover {
  text-decoration: underline;
}